<style>
  /* Custom Styles for Reset Password Page */
  body {
      background-color: #f7f0f9; /* Light purple tint for background */
  }

  .branded-btn {
      background-color: #4800a7; /* Replace with your brand's primary color */
      min-width: 120px; /* Increased width */
      height: 64px;
      justify-content: center;
      align-items: center;
      margin: 10px auto; /* Adjusted for auto horizontal margin */
      border-radius: 40px;
      color: #FFF; /* Adjust as per your button text color */
      font-size: 20px;
      line-height: 26px;
      padding: 0 20px; /* Increased padding */
      text-align: center;
      border: none; /* Remove default border */
      display: block; /* Change to block to allow margin auto to work */
  }

  .branded-btn:hover {
      background-color: #F50057; /* Slightly darker shade for hover */
  }
</style>

<!-- app/views/sessions/reset_password.html.erb -->
<div class="container mt-5 reset-password-container">
  <h1 class="text-center mb-4">Reset Password</h1>
  <%= form_with url: api_v1_password_path, method: :post, html: { class: 'form-horizontal' } do |form| %>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= form.hidden_field :token, value: params[:token] %>
        <div class="form-group mb-3">
          <%= form.label :new_password, 'New Password', class: 'form-label' %>
          <%= form.password_field :new_password, class: 'form-control' %>
        </div>
        <div class="form-group mb-4">
          <%= form.label :new_password_confirmation, 'Confirm New Password', class: 'form-label' %>
          <%= form.password_field :new_password_confirmation, class: 'form-control' %>
        </div>
        <%= form.submit 'Reset Password', class: 'btn branded-btn' %>
      </div>
    </div>
  <% end %>
</div>

