<!-- app/views/sessions/reset_password.html.erb -->
<h1>Reset Password</h1>
<%= form_with url: api_v1_password_path, method: :post do |form| %>
  <%= form.hidden_field :token, value: params[:token] %>
  <%= form.label :new_password, 'New Password' %>
  <%= form.password_field :new_password %><br/>

  <%= form.label :new_password_confirmation, 'Confirm New Password' %>
  <%= form.password_field :new_password_confirmation %><br/>

  <%= form.submit 'Reset Password' %>
<% end %>
