
<p>Hello <%= @resource.fname %>,</p>

<p>We received a request to reset the password associated with this email address. If you made this request, please follow the instructions below. If you did not request a password reset, please disregard this email.</p>

<p>To reset your password, simply click on the button below and follow the instructions:</p>

<p>
  <% if Rails.env.development? %>
    <%= link_to "https://#{ENV['NGROK_HTTP_HOST']}/password_redirect_to_app/#{@token}", style: "background-color: #4800a7; color: #ffffff; padding: 10px 15px; border-radius: 4px; text-decoration: none; font-size: 16px; display: inline-block; border: none;" do %>
      Reset Password
    <% end %>
  <% else %>
    <%= link_to password_redirect_to_app_url(@token), style: "background-color: #4800a7; color: #ffffff; padding: 10px 15px; border-radius: 4px; text-decoration: none; font-size: 16px; display: inline-block; border: none;" do %>
      Reset Password
    <% end %>
  <% end %>
</p>

<p>If you have any questions, <a href="mailto:idid.helper@gmail.com">please send us an email</a>.</p>

<p>Thank you for using iDid!</p>

<div style="display: flex; align-items: center; justify-content: center;">
  <!-- Google Play Link -->
  <a href="https://play.google.com/store/apps/details?id=com.briannicholls.idid">
    <%= image_tag(attachments['google-play-badge.png'].try(:url), alt: "Get it on Google Play", height: 65, style: 'width: auto; max-width: none;') %>
  </a>
  <!-- App Store Link -->
  <a href="https://apps.apple.com/app/idid-activity-tracker/id6471904794">
    <%= image_tag(attachments['app_store_badge.png'].try(:url), alt: "Download on the App Store", height: 50, style: 'width: auto; max-width: none; margin: 8px;') %>
  </a>
</div>
